@font-face {
  font-family: "Press Start 2P", cursive;
  src: url(https://fonts.googleapis.com/css?family=Press+Start+2p);
}

@font-face {
  font-family: "VT323", monospace;
  src: url(https://fonts.googleapis.com/css?family=VT323);
}


body {
  background-image: url("img/fond.png");
  background-size: 100%;
  background-repeat: repeat;
}

h5 {
  font-family: "Press Start 2P";
  font-size: 3vw;
  text-shadow: 4px 4px 0 #000;
  text-align: center;
  color: white;
  margin-top: 5%;
}
.taillelogo {
  width: 95%;
  text-align: right;
  
}


.text-center {
  width: 60%;
  text-align: center;
}

.notrelogo {
  background-image: url("img/logo.png");
  height: 100%;
}



.blocprofil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  max-width: 250px;
  text-align: center;
  position: relative;
  width: 80%;
  margin: auto;
  border: none;
  margin-top: 15%;
}

.nomprofil {
  color: white;
  position: absolute;
  width: 100%;
  left: 0%;
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 30px;

}

.fondNoir{
  background-color: black;
  padding: 5px;
}

/* HOVER LISA */
.hauteurLienProfil {
  height: 300px;
  width: 300px;
}

.Bg-imglisa {
  margin: 0 auto;
  position: relative;
  background-image: url("img/Lisa1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  transition: background-image 1s ease-in-out;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .Bg-imglisa {
  position: relative;
  background-image: url("img/Lisa.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* HOVER AYMERIC */

.Bg-imgaymeric {
  margin: 0 auto;
  position: relative;
  background-image: url("img/Aymeric1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  transition: background-image 1s ease-in-out;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .Bg-imgaymeric {
  position: relative;
  background-image: url("img/Aymeric.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* HOVER CELINE */

.Bg-imgceline {
  margin: 0 auto;
  position: relative;
  background-image: url("img/Celine1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  transition: background-image 1s ease-in-out;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .Bg-imgceline {
  position: relative;
  background-image: url("img/Celine.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* HOVER PAUL */

.Bg-imgpaul {
  margin: 0 auto;
  position: relative;
  background-image: url("img/Paul1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  transition: background-image 1s ease-in-out;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .Bg-imgpaul {
  position: relative;
  background-image: url("img/Paul.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* HOVER KAPUCINE */

.Bg-imgkapucine {
  margin: 0 auto;
  position: relative;
  background-image: url("img/Kapucine1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  transition: background-image 1s ease-in-out;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .Bg-imgkapucine {
  position: relative;
  background-image: url("img/Kapucine.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* HOVER IOANNIS */

.Bg-imgioannis {
  margin: 0 auto;
  position: relative;
  background-image: url("img/Ioannis1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  transition: background-image 1s ease-in-out;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .Bg-imgioannis {
  position: relative;
  background-image: url("img/Ioannis.png");
  background-repeat: no-repeat;
  background-size: cover;
}


